@{
    ViewBag.Title = "Sent";
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
    <style>
        body {
            background-image: url( "../fonts/Images/Pizzastore.png");
            height: 100vh;
            width: 100vw;
            background-size: 100%;
            font-size: 20px;
        }

        h2 {
            color: darkgreen;
            font-family: Arial;
            font-size: 40px;
        }
    </style>


</head>

<body>

    <h2>Your message has been sent<br /> Thank You</h2>
    <h4>We will contact you soon</h4>
</body>

</html>

